/* You can add global styles to this file, and also import other style files */
body{
  background-color: #2164CC;
  color: white;
  width: 60%; margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 1rem;
}
a{
  color:yellowgreen;
}
a:hover{
  color:yellow;
}
.card{
  background-color: #3f7fdf;
}
h1{
  color: #fff;
}
